/* ===== HEADER LUXURY ===== */

.header {
    background: #f5f1eb;
    padding: 40px 0;
}

.header .container {
    max-width: 1300px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    color: #111111;
    font-family: serif;
    letter-spacing: 2px;
}

.nav {
    display: flex;
    gap: 50px;
}

.nav a {
    color: #555555;
    font-size: 1rem;
}

.header .btn {
    background: #111111;
}