/* ===== HEADER TECH ===== */

.header {
    background: #020617;
    padding: 30px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    color: #94a3b8;
    font-size: 1rem;
}