/* ===== CTA TECH ===== */

.cta {
    background: #0a0f1c;
    padding: 140px 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.cta-text h2 {
    font-size: 4rem;
    color: white;
    margin-bottom: 20px;
}

.cta-text p {
    font-size: 1.1rem;
    color: #94a3b8;
    max-width: 500px;
}

.btn {
    display: inline-block;
    padding: 18px 38px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 999px;
}