/* ===== CTA LUXURY ===== */

.cta {
    background: #f5f1eb;
    padding: 180px 0;
}

.cta .container {
    max-width: 900px;
    text-align: center;
}

.cta-text h2 {
    font-size: 5rem;
    color: #111111;
    margin-bottom: 30px;
}

.cta-text p {
    font-size: 1.2rem;
    color: #555555;
    margin-bottom: 50px;
}

.cta .btn {
    padding: 20px 42px;
    background: #111111;
}