/* ===== CTA CARD ===== */

.cta {
    background: #ffffff;
    padding: 120px 0;
}

.cta .container {
    background: #111111;
    padding: 80px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.cta-text h2 {
    font-size: 4rem;
    color: white;
    margin-bottom: 20px;
    max-width: 600px;
}

.cta-text p {
    font-size: 1.1rem;
    color: #cbd5e1;
    max-width: 500px;
}

.cta .btn {
    padding: 18px 38px;
    background: white;
    color: black;
    font-weight: bold;
}